/* ---------- ROOTS ---------- */
:root {
	--bg-color: #000;
	--l-grey: #E8E8E8;
	--ml-grey: #b0aeae;
	--m-grey: #767676;
	--d-grey: #282828;
	--acc-yel: #FCB900;
	--acc-tur: #00E8CB;

	--txt-clr-d: #222;
	--txt-clr-l: #F8F8F8;
	--txt-clr: #f8f8f8;

	--main-header: 'Arima Madurai', cursive;
	--main-font: 'dita', sans-serif;
	--alt-font: 'Comfortaa', cursive;
	--h-size: 30px;
	--p-size: 14px;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


/* ----- Scrollbar ----- */
/* Width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}


/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--m-grey);
}


/* ---------- GENERAL ---------- */
html {
	width: auto;
	height: auto;
	margin: 0;
	background-color: var(--bg-color);
    font-family: var(--main-font);
	color: var(--txt-clr);
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	scroll-behavior: smooth;
}

body {
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

h1, h2 {
	color: var(--txt-clr);
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--main-header);
	font-size: var(--h-size);
	font-style: normal;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}


h3 {
	color: var(--txt-clr);
	text-decoration: none;
	font-family: var(--main-header);
	font-style: normal;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 0;
}

p {
	margin-top: 0px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 300;
	line-height: 1.4;
	word-spacing: 2px;	
}

.content {
	margin: 50px 0px;
	padding: 0px 0px
}

.accyel {
	color: var(--acc-yel);
}


/* ---------- NAV ---------- */
nav {
	height: 30px;
	width: 100%;
	top: 0;	
	padding: 5px;
	z-index: 100;
	position: fixed;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--txt-clr);
	background-color: rgba(0, 0, 0, 0.8);
}

nav a {
	padding: 5px;
	text-decoration: none;
	color: var(--l-grey);
	transition: all 0.2s ease-out;
}

nav a:hover {
	color: #fcb900;
}

.nav-cntr {
	height: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.nav-logo {
	display: flex;
	font-family: var(--main-header);
	font-weight: 800;
}

.nav-links {
	width: 250px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.nav-links a:last-child {
	color: var(--ml-grey);
}


/* ----- HEADER SECTION ----- */
.header {
	height: auto;
	width: 80%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding-top: 0px;
}

.header-title h1 {
	font-size: 60px;
	font-weight: 800;
}

.header-cntr {
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding-top: 0px 5px;
}

.header-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.header-title {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	margin-right: auto;
}

#about {
	padding-top: 60px;
}

.header-card {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
}

.card-txt {
	height: auto;
	width: auto;
}

.card-skills {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.skill-txt {
	height: auto;
	width: 48%;
}

.skill {
	border: solid red 0px;
	padding-top: 5px;
	padding-right: 20px;
}

.skill h3 {
	text-align: center;
	margin: 0;
	font-size: 20px;
}

.skill p {
	margin: 0;
}

.skill-icon {
	display: flex;
	justify-content: center;
}

.skill-icon svg {
	height: 40px;
	width: auto;
	fill: var(--acc-yel);
	stroke: none;
}



.profile {
	width: 250px; 
	height: 300px;
	padding-left: 5px;
	background-color: rgb(21, 48, 25);
	position: relative;
	border-top-left-radius: 120px;
	border-top-right-radius: 120px;
}

.pf-img img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 290px; 
	height: 350px;
	position: absolute;
	bottom: 0px;
	left: -25px;
	margin-left: auto;
	margin-right: auto;
}




/* SVG */
.signature svg {
	height: 100px;
	width: 100px;
}

#sign:hover {
	filter: drop-shadow(0px 0px 20px #fff);
} 

.signature svg {
	fill: none;
	stroke: var(--acc-yel);
	stroke-width: 4;
	stroke-miterlimit: 10;
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.skill-cntr {
	display: none;
} 


/* ---------- WORK SECTION ---------- */
#work {
	padding-top: 60px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.work-title {
	width: 100%;
	margin: 0 auto;
}

#projects {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.project {
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.project-title {
	width: auto;
	border: solid blue 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.project-title h3 {
	margin-top: 0;
	text-transform: uppercase;
}

.project-links a {
	text-decoration: none;
}

.project-links a svg {
	height: 16px;
	width: 16px;
	border: solid yellow 0px;
	float: right;
	fill: var(--l-grey);
	margin-left: 10px;
	cursor: pointer;
}

#card-c:nth-child(2) > div.project-details > span.ellipsis {
	display: none;
}
#card-c:nth-child(2) > div.project-details > .moreBtn {
	display: none;
}

#card-c:nth-child(3) > div.project-details > div > div {
	visibility: hidden;
}

#card-c:nth-child(4) > div.project-details > div > div {
	visibility: hidden;
}
#card-c:nth-child(4) > div.project-details > span.ellipsis {
	display: none;
}
#card-c:nth-child(4) > div.project-details > .moreBtn {
	display: none;
}

.project p {
	margin-bottom: 5px;
}

.web-link span {
	color: var(--l-grey);
	font-size: 10px;
	font-style: italic;
}


/* ----- Project Images ----- */
.columns {
	display: flex;
}

.gallery {
	margin-right: 6px;
	display: flex;
	flex-direction: column;
	float: left;
}

.gallery-row {
	display: flex;
	flex-direction: row;
}

.img1-cntr {
	height: 150px;
	width: 180px;
	margin: 2px;
	object-fit: cover;
}

.img2-cntr {
	height: 150px;
	width: 200px;
	margin: 2px;
	object-fit: cover;
}

.img1 {
	height: 150px;
	width: 180px;
	object-fit: cover;
	image-rendering: crisp-edges;
}

.img2 {
	height: 150px;
	width: 200px;
	object-fit: cover;
	image-rendering: crisp-edges;
}

/* ----- Modal ----- */
.modal {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	z-index: 110;
	left: 0;
	top: 0;
	display: none;
	position: fixed;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
}
	
.modal-content {
	max-height: 100%;
	margin: auto;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
	
.modal-hover-opacity {
	cursor: pointer;
	opacity: 1;
	filter: saturate(100%);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: all 0.2s ease-in-out;
	image-rendering: crisp-edges;
}
	
.modal-hover-opacity:hover {
	filter: saturate(100%);
}
	
.close {
	cursor: pointer;
	text-decoration: none;
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: var(--l-grey);
}

.modal-content, #caption {   
	-webkit-animation-name: modal-box;
	-webkit-animation-duration: 0.2s;
	animation-name: zoom;
	animation-duration: 0.2s;
}

@-webkit-keyframes modal-box {
	from {opacity: 0;} 
	to {opacity: 1;}
}
	
@keyframes modal-box {
	from {opacity: 0;} 
	to {opacity: 1;}
}

/* ----- Read More Button ----- */
.more {
	display: none;
}

.moreBtn {
	margin: 5px 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	color: var(--txt-clr);
	font-style: italic;
	transition: all .2s ease-out;
}

.moreBtn:hover {
	color: var(--acc-yel);
}


/* ---------- CONTACT SECTION ---------- */
#contact  {
	padding-top: 60px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
} 

#contact h2 {
	text-align: center;
}

.contact-btn {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 10px;
	background-color: transparent;
	border: solid var(--acc-yel) 2px;
	border-radius: 5px;
	transition: all 0.2s ease-out;
}

.contact-btn a {
	text-decoration: none;
	color: var(--acc-yel);
	transition: all 0.2s ease-out;
}

.contact-btn:hover {
	padding: 5px 16px;
	filter: drop-shadow(0px 0px 1px var(--acc-tur));
	box-shadow: 0px 0px 4px 1px var(--acc-tur);
}


/* ---------- FOOTER ---------- */
footer {
	padding: 80px 10px 20px 10px;
	margin-top: 50px;
	border-top: solid var(--m-grey) 1px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--m-grey);
	transition: all 0.2s ease-out;
}

.footer-cntr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-box {
	border: solid red 0px;
	display: flex;
	flex-direction: column;
}


.footer-box a {
	text-decoration: none;
	color: var(--txt-clr);
	transition: all 0.2s ease-out;
}

.footer-logo {
	font-family: var(--main-header);
	font-weight: 600;
}

.footer-box .mail-link {
	font-size: 12px;
	color: var(--m-grey);
}

.footer-box a:hover {
	color: var(--acc-yel);
}


.footer-links {
	border: solid orange 0px;
	margin: 5px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 200px;
	height: auto;
}

.footer-links a {
	border: solid red 0px;
	padding-top: 0px;
	height: 20px;
	width: 20px;
	text-decoration:none;
	background-color: transparent;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
	margin: 0px 15px;
}

.footer-links svg path {
	fill: var(--l-grey);
	stroke: none;
	height: 100%;
	width: 100%;
}

.footer-links a:hover {
	transform: rotate(-20deg)
}

.footer-links a:hover {
	background-color: transparent;
	text-decoration:none;
	} 

.footer-links a:hover path {
	fill: var(--acc-yel);
	stroke-width: 1;
}

.copy {
	margin-top: 50px;
	text-align: center;
	color: var(--m-grey);
	font-size: 10px;
}


/* ---------- FADE IN ANIMATIONS ---------- */
.fade-in {
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
 
.fade-in.transition {
	transition: all 0.3s ease-in-out;
    opacity: 1;
}





/* ---------- MEDIA QUERIES ---------- */
/* ----- PHONE ----- */
@media screen and (max-width: 668px) {

	.content {
		width: 90%;
	}

	/* ----- MOBILE MENU ----- */

	nav {
		width: 100%;
		padding: 0;
	}

	.nav-cntr {
		width: 100%;
		padding: 0;
	}

	.nav-links { 
		display: none;
	}

	.dropdown {
		width: auto;
		height: 100%;
		padding: 0px 0px;
		margin: 0px;
		display: flex;
		flex-direction:column;
		justify-content: right;
	}

	.drop-btn {
		width: auto;
		height: auto;
		padding: 0px 0px 0px 0px;
		top: 0%;
		right: 0%;
		border: none;
		cursor: pointer;
		background-color: transparent;
		font-size: 20px;
		color: #767676;
		display: flex;
		justify-content: flex-end;
	}

	.drop-btn i {
		right: 0;
		padding: 5px 5px 0px 0px;
	}
  
	.drop-btn:hover, .drop-btn:focus {
		background-color: transparent;
	}
  
	.dropdown-content {
		min-width: 120px;
		padding: 10px 0px;
		z-index: 1;
		display: none;
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.8);
	}
  

	.dropdown-content a {
		width: 120px;
		padding: 10px 10px;
		color: var(--txt-clr-l);
		background-color: rgba(0, 0, 0, 0.8);
		text-decoration: none;
		text-transform: uppercase;
		text-align: right;
	}

	.dropdown-content a:first-child {
		margin-top: 5px;
		border: solid red 0px;
	}

	
	.dropdown-content a:last-child {
		border: solid red 0px;
		/* border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px; */
	}

	.fa {
		color: var(--txt-clr-l);
	}
  
	.show {
		display: contents;
	}

	/* Header */

	.header-cntr {
		width: 100%;
	}

	.header-box {
		width: 95%;
		margin: 0 auto;
	}

	.header-title h1 {
		line-height: 1.2;
	}

	.header-title .accyel {
		word-spacing: 5px;
	}

	.header-cntr {
		width: 100%;
	}
	
	.header-card {
		justify-content: flex-start;
		width: auto;
	}

	.header-card .card-skills {
		display: none;
	}

	.skill-cntr {
		display: contents;
		width: 95%;
	}

	.card-skills {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.skill {
		padding: 5px;
	}

	
	.profile {
		width: 150px; 
		height: 260px;
		padding: 0px;
		border-top-left-radius: 120px;
		border-top-right-radius: 120px;
		align-items: center;
	}

	.pf-img img {
		width: 100%; 
		height: 300px;
		margin: 0;
		padding: 0;
		right: 0;
		left: 0;
		object-fit: cover;
	}

	/* Work */

	.work-title {
		width: 95%;
		margin: 0 auto;
	}

	.gallery {
		border: solid red 0px;
		width: 100%;
		margin: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.project {
		width: 95%;
	}

	.project-details {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.img1-cntr {
		height: 150px;
		width: 40%;
	}
	
	.img2-cntr {
		height: 150px;
		width: 60%;
	}

	.img1 {
		height: 150px;
		width: 100%;
	}
	
	.img2 {
		height: 150px;
		width: 100%;
	}


	.moreBtn {
		text-align: left;
	}


	/* Work */
	#contact {
		width: 75%;
	}

	/* Footer */
	footer {
		width: 100%;
		padding: 80px 0px 20px 0px;
	}

	.footer-box .mail-link {
		margin-top: 10px;
		font-size: 10px;
	}

	.footer-links {
		width: 180px;
	}

	.footer-links a {
		margin: 0px 10px 0px 10px;
	}

}

  
/* ----- TABLET ----- */
@media screen and (min-width: 669px) and (max-width: 1023px) {

	/* ----- MOBILE MENU ----- */
	nav {
		padding: 5px 0px;
	}

	.nav-cntr {
		width: 100%;
	}

    .dropdown {
        display: none;
	} 

	.header-cntr {
		width: 90%;
	}

	.header-card .card-skills {
		display: none;
	}

	.skill-cntr {
		display: contents;
	}

	.card-skills {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.skill {
		padding: 5px;
	}


	.profile {
		width: 240px; 
		height: 280px;
		padding: 0px;
		border-top-left-radius: 120px;
		border-top-right-radius: 120px;
		align-items: center;
	}

	.pf-img img {
		width: 100%; 
		height: 360px;
		margin: 0;
		padding: 0;
		right: 0;
		left: 0;
		object-fit: cover;
	}

	#work {
		height: auto;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	#contact {
		width: 75%;
		padding-top: 60px;
		text-align: center;
	}

	footer {
		width: 100%;
		padding: 80px 0px 20px 0px;
	}

	.footer-cntr {
		width: 100%;
	}

	.footer-box .footer-logo, .mail-link {
		margin: 0px 15px;
	}

}

/* ----- DESKTOP ----- */
@media screen and (min-width: 1024px) {

	/* -- MOBILE MENU -- */
        .dropdown {
            display: none;
        }

	#work {
		height: auto;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	#contact  {
		width: 90%;
		padding-top: 60px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	} 
}




